# with this code I estimate the price of an European call option on ITSA4, maturity of 1 year. I start by calculating d1 and d2, inputs for the model. Historical data of ITSA4 prices was downloaded from yahoofinance.com.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from scipy.stats import norm

In [3]:
data = pd.read_csv('ITSA4.csv', index_col='Date')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1244 entries, 6/22/15 to 6/19/20
Data columns (total 1 columns):
ITSA4    1241 non-null float64
dtypes: float64(1)
memory usage: 19.4+ KB

In [5]:
data.head()

            ITSA4
Date
6/22/15  5.233504
6/23/15  5.233504
6/24/15  5.221835
6/25/15  5.134320
6/26/15  5.245173

In [27]:
def d1(S, K, r, stdev, T): 
    return (np.log(S / K) + (r + stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

def d2(S, K, r, stdev, T):
    return (np.log(S / K) + (r - stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

def BSM(S, K, r, stdev, T): 
    return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

In [28]:
S = data.iloc[-1]
S

ITSA4    10.41
Name: 6/19/20, dtype: float64

In [29]:
ITSA4_log_ret = np.log(1 + data.pct_change())
ITSA4_log_ret

            ITSA4
Date
6/22/15       NaN
6/23/15  0.000000
6/24/15 -0.002232
6/25/15 -0.016901
6/26/15  0.021361
...           ...
6/15/20 -0.023774
6/16/20  0.020705
6/17/20  0.017268
6/18/20  0.031717
6/19/20  0.015489

[1244 rows x 1 columns]

In [30]:
ITSA4_stdev = ITSA4_log_ret.std() * 250 ** 0.5
ITSA4_stdev

ITSA4    0.326442
dtype: float64

# risk-free is defined as Brazil 10Y Bond Yield, 6.92% at 06/24/2020. Strike is 12 Brazilian reais.

In [31]:
r = 0.0692
K = 12.0
T = 1

In [32]:
S = data.iloc[-1]
S

ITSA4    10.41
Name: 6/19/20, dtype: float64

In [33]:
d1(S, K, r, ITSA4_stdev, T)

ITSA4   -0.060218
dtype: float64

In [34]:
d2(S, K, r, ITSA4_stdev, T)

ITSA4   -0.38666
dtype: float64

In [35]:
BSM(S, K, r, ITSA4_stdev, T)

ITSA4    1.041431
Name: 6/19/20, dtype: float64