# With this simple Python code, I will estimate the risk of a portfolio compound by 5 securities, all of them traded in Sao Paulo Stock Exchange, Brazil. I randomly picked the securities, and I assume the portfolio is equally weighted, just a theoretical proposition to run the codes that allow us to use Python in finance applications. The first thing that I have done is downloading historical data for Itausa (ticker ITSA4), Gerdau (GOAU4), Embraer (Embr3), Petrobras (PETR4), and CPFL, (CPFE3). After that, we created a repository for the downloaded data (we could have also used the online api provided by YahooFinance. I use the Anaconda Navigator, which is a pretty complete package for analysing financial or any orther type of data. The code will be written on next lines, hope it can be repplied by anyone willing to measure risk of any other portfolio of stocks.Â¶

In [20]:
import numpy as np 
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
pfolio_data = pd.read_csv('Pfolio_stocks_br.csv', index_col='Date')

In [3]:
pfolio_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1244 entries, 6/22/15 to 6/19/20
Data columns (total 5 columns):
ITSA4    1241 non-null float64
GOAU4    1241 non-null float64
EMBR3    1241 non-null float64
PETR4    1241 non-null float64
CPFE3    1241 non-null float64
dtypes: float64(5)
memory usage: 58.3+ KB

In [4]:
pfolio_data.head()

            ITSA4     GOAU4      EMBR3      PETR4      CPFE3
Date
6/22/15  5.233504  6.552751  23.188370  12.218085  17.112970
6/23/15  5.233504  6.468259  23.043196  12.032542  16.955807
6/24/15  5.221835  6.271112  22.694790  12.264473  16.789963
6/25/15  5.134320  6.196010  22.646400  11.689284  16.274797
6/26/15  5.245173  6.318053  23.178694  12.255195  16.973259

In [5]:
pfolio_data.tail()

         ITSA4  GOAU4  EMBR3      PETR4      CPFE3
Date
6/15/20   9.56   6.42   8.58  20.700001  31.600000
6/16/20   9.76   6.89   9.05  21.370001  31.170000
6/17/20   9.93   6.85   8.95  21.440001  31.959999
6/18/20  10.25   7.02   8.87  21.600000  31.690001
6/19/20  10.41   7.06   8.76  21.469999  32.180000

In [6]:
pfolio_returns = np.log(pfolio_data / pfolio_data.shift(1))

In [7]:
pfolio_returns

            ITSA4     GOAU4     EMBR3     PETR4     CPFE3
Date
6/22/15       NaN       NaN       NaN       NaN       NaN
6/23/15  0.000000 -0.012978 -0.006280 -0.015302 -0.009226
6/24/15 -0.002232 -0.030953 -0.015235  0.019092 -0.009829
6/25/15 -0.016901 -0.012048 -0.002134 -0.048034 -0.031164
6/26/15  0.021361  0.019506  0.023233  0.047277  0.042021
...           ...       ...       ...       ...       ...
6/15/20 -0.023774 -0.013921 -0.027588  0.004843 -0.022220
6/16/20  0.020705  0.070653  0.053331  0.031854 -0.013701
6/17/20  0.017268 -0.005822 -0.011111  0.003270  0.025029
6/18/20  0.031717  0.024515 -0.008979  0.007435 -0.008484
6/19/20  0.015489  0.005682 -0.012479 -0.006037  0.015344

[1244 rows x 5 columns]

In [8]:
print (pfolio_returns['ITSA4'].mean() * 250)
print (pfolio_returns['GOAU4'].mean() * 250)
print (pfolio_returns['EMBR3'].mean() * 250)
print (pfolio_returns['PETR4'].mean() * 250)
print (pfolio_returns['CPFE3'].mean() * 250)

0.14746028354745067
0.03297915342814497
-0.1765135710587176
0.13529009164292644
0.14000905915502654

In [9]:
pfolio_returns[['ITSA4', 'GOAU4', 'EMBR3', 'PETR4', 'CPFE3']].std() * 250 ** 0.5

ITSA4    0.325101
GOAU4    0.598673
EMBR3    0.443923
PETR4    0.545955
CPFE3    0.291644
dtype: float64

# on the following lines of code, I calculate covariance and correlation among the stocks within the portfolio.

In [33]:
ITSA4_var = pfolio_returns['ITSA4'].var()
ITSA4_var

0.000422761778697784

In [34]:
GOAU4_var = pfolio_returns['GOAU4'].var()
GOAU4_var

0.001433639317576467

In [35]:
EMBR3_var = pfolio_returns['EMBR3'].var()
EMBR3_var

0.000788268976343745

In [36]:
PETR4_var = pfolio_returns['PETR4'].var()
PETR4_var

0.0011922653736094592

In [37]:
CPFE3_var = pfolio_returns['CPFE3'].var()
CPFE3_var

0.00034022517242027976

In [10]:
pfolio_returns[['ITSA4', 'GOAU4', 'EMBR3', 'PETR4', 'CPFE3']].var() * 250 ** 0.5

ITSA4    0.006684
GOAU4    0.022668
EMBR3    0.012464
PETR4    0.018851
CPFE3    0.005379
dtype: float64

In [38]:
pfolio_cov_mat = pfolio_returns.cov() * 250

pfolio_cov_mat

          ITSA4     GOAU4     EMBR3     PETR4     CPFE3
ITSA4  0.105690  0.096560  0.051594  0.105766  0.044924
GOAU4  0.096560  0.358410  0.079844  0.187802  0.063500
EMBR3  0.051594  0.079844  0.197067  0.077758  0.034818
PETR4  0.105766  0.187802  0.077758  0.298066  0.064922
CPFE3  0.044924  0.063500  0.034818  0.064922  0.085056

# on the following lines of code, we estimate the portfolio variance and volatility with the assumption that assets are equally weighted.

In [41]:
weights = np.array([0.2, 0.2, 0.2, 0.2, 0.2])

In [42]:
pfolio_var = np.dot(weights.T, np.dot(pfolio_returns.cov() * 250, weights))

pfolio_var

0.1063705804032191

# from the pfolio_var, I calculate the portfolio volatility on the next lines of code.

In [43]:
pfolio_vol = (np.dot(weights.T, np.dot(pfolio_returns.cov() * 250, weights))) ** 0.5

pfolio_vol

0.3261450297079799

In [44]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

32.615 %