# With this simple Python code, I will calculate the covariance and correlation for two stocks traded in Sao Paulo Stock Exchange, Brazil. The first thing that I have done is downloading historical data for Itausa (ticker ITSA4) and Gerdau (GOAU4). We could have also used the online api provided by YahooFinance. I use the Anaconda Navigator, which is a pretty complete package for analysing financial or any other type of data. The code will be written on next lines, hope it can be repplied by anyone willing to measure covariances and correlations of any stock or any other matter.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
stock_data = pd.read_csv('ITSA4_GOAU4.csv', index_col='Date')

In [3]:
stock_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1244 entries, 6/22/15 to 6/19/20
Data columns (total 2 columns):
ITSA4    1241 non-null float64
GOAU4    1241 non-null float64
dtypes: float64(2)
memory usage: 29.2+ KB

In [4]:
stock_data.head()

            ITSA4     GOAU4
Date
6/22/15  5.233504  6.552751
6/23/15  5.233504  6.468259
6/24/15  5.221835  6.271112
6/25/15  5.134320  6.196010
6/26/15  5.245173  6.318053

In [5]:
stock_data.tail()

         ITSA4  GOAU4
Date
6/15/20   9.56   6.42
6/16/20   9.76   6.89
6/17/20   9.93   6.85
6/18/20  10.25   7.02
6/19/20  10.41   7.06

In [6]:
stocks_returns = np.log(stock_data / stock_data.shift(1))

stocks_returns.head()

            ITSA4     GOAU4
Date
6/22/15       NaN       NaN
6/23/15  0.000000 -0.012978
6/24/15 -0.002232 -0.030953
6/25/15 -0.016901 -0.012048
6/26/15  0.021361  0.019506

In [15]:
stocks_returns[['ITSA4', 'GOAU4']].mean() * 250 ** 0.5

ITSA4    0.009326
GOAU4    0.002086
dtype: float64

In [16]:
stocks_returns[['ITSA4', 'GOAU4']].std() * 250 ** 0.5

ITSA4    0.325101
GOAU4    0.598673
dtype: float64

In [19]:
ITSA4_var_a = stocks_returns['ITSA4'].var() * 250

ITSA4_var_a

0.105690444674446

In [20]:
GOAU4_var_a = stocks_returns['GOAU4'].var() * 250

GOAU4_var_a

0.35840982939411675

In [22]:
cov_matrix_a = stocks_returns.cov() * 250

cov_matrix_a

         ITSA4    GOAU4
ITSA4  0.10569  0.09656
GOAU4  0.09656  0.35841

In [23]:
correl_matrix = stocks_returns.corr()

correl_matrix

          ITSA4     GOAU4
ITSA4  1.000000  0.496124
GOAU4  0.496124  1.000000