# With this simple Python code, I will calculate the risk associated with 5 securities, all of them traded in Sao Paulo Stock Exchange, Brazil. I randomly picked the securities. The first thing that I have done is downloading historical data for Itausa (ticker ITSA4), Gerdau (GOAU4), Embraer (Embr3), Petrobras (PETR4), and CPFL, (CPFE3). After that, we created a repository for the downloaded data (we could have also used the online api provided by YahooFinance. I use the Anaconda Navigator, which is a pretty complete package for analysing financial or any orther type of data. The code will be written on next lines, hope it can be repplied by anyone willing to measure returns of any stock or any other matter.

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('Pfolio_stocks_br.csv', index_col='Date')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1244 entries, 6/22/15 to 6/19/20
Data columns (total 5 columns):
ITSA4    1241 non-null float64
GOAU4    1241 non-null float64
EMBR3    1241 non-null float64
PETR4    1241 non-null float64
CPFE3    1241 non-null float64
dtypes: float64(5)
memory usage: 58.3+ KB

In [4]:
data.head()

            ITSA4     GOAU4      EMBR3      PETR4      CPFE3
Date
6/22/15  5.233504  6.552751  23.188370  12.218085  17.112970
6/23/15  5.233504  6.468259  23.043196  12.032542  16.955807
6/24/15  5.221835  6.271112  22.694790  12.264473  16.789963
6/25/15  5.134320  6.196010  22.646400  11.689284  16.274797
6/26/15  5.245173  6.318053  23.178694  12.255195  16.973259

In [5]:
data.tail()

         ITSA4  GOAU4  EMBR3      PETR4      CPFE3
Date
6/15/20   9.56   6.42   8.58  20.700001  31.600000
6/16/20   9.76   6.89   9.05  21.370001  31.170000
6/17/20   9.93   6.85   8.95  21.440001  31.959999
6/18/20  10.25   7.02   8.87  21.600000  31.690001
6/19/20  10.41   7.06   8.76  21.469999  32.180000

In [6]:
returns = np.log(data / data.shift(1))

returns

            ITSA4     GOAU4     EMBR3     PETR4     CPFE3
Date
6/22/15       NaN       NaN       NaN       NaN       NaN
6/23/15  0.000000 -0.012978 -0.006280 -0.015302 -0.009226
6/24/15 -0.002232 -0.030953 -0.015235  0.019092 -0.009829
6/25/15 -0.016901 -0.012048 -0.002134 -0.048034 -0.031164
6/26/15  0.021361  0.019506  0.023233  0.047277  0.042021
...           ...       ...       ...       ...       ...
6/15/20 -0.023774 -0.013921 -0.027588  0.004843 -0.022220
6/16/20  0.020705  0.070653  0.053331  0.031854 -0.013701
6/17/20  0.017268 -0.005822 -0.011111  0.003270  0.025029
6/18/20  0.031717  0.024515 -0.008979  0.007435 -0.008484
6/19/20  0.015489  0.005682 -0.012479 -0.006037  0.015344

[1244 rows x 5 columns]

# the standard deviation is widely used in financial markets to measure the risk of a security, and that's what we estimate for each security on the next lines of code, daily and annualized. we work with the assumption of 250 trading days.

In [7]:
returns['ITSA4'].std()

0.020561171627555275

In [8]:
returns['ITSA4'].std() * 250 ** 0.5

0.3251006685235298

In [9]:
returns['GOAU4'].std()

0.03786342981791886

In [10]:
returns['GOAU4'].std() * 250 ** 0.5

0.5986733912527905

In [12]:
returns['EMBR3'].std()

0.028076128229222508

In [13]:
returns['EMBR3'].std() * 250 ** 0.5

0.4439225654164657

In [16]:
returns['PETR4'].std()

0.03452919595949867

In [17]:
returns['PETR4'].std() * 250 ** 0.5

0.5459545250314944

In [18]:
returns['CPFE3'].std()

0.01844519374851562

In [19]:
returns['CPFE3'].std() * 250 ** 0.5

0.2916441206420419