In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
data = pd.read_csv('Pfolio_stocks_br.csv', index_col='Date')

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1244 entries, 6/22/15 to 6/19/20
Data columns (total 2 columns):
^IBOV    1244 non-null int64
GOAU4    1244 non-null float64
dtypes: float64(1), int64(1)
memory usage: 29.2+ KB

In [3]:
data.head()

         ^IBOV     GOAU4
Date
6/22/15  53864  6.552751
6/23/15  53772  6.468259
6/24/15  53843  6.271112
6/25/15  53176  6.196010
6/26/15  54017  6.318053

In [4]:
data.tail()

         ^IBOV  GOAU4
Date
6/15/20  92376   6.42
6/16/20  93531   6.89
6/17/20  95547   6.85
6/18/20  96125   7.02
6/19/20  96572   7.06

In [5]:
sec_returns = np.log(data / data.shift(1))

In [6]:
cov = sec_returns.cov() * 250
cov

          ^IBOV     GOAU4
^IBOV  0.080002  0.115041
GOAU4  0.115041  0.361571

In [7]:
cov_with_market = cov.iloc[0,1]
cov_with_market

0.11504102624536895

In [8]:
market_var = sec_returns['^IBOV'].var() * 250
market_var

0.08000201374464627

In [9]:
GOAU4_beta = cov_with_market / market_var
GOAU4_beta

1.4379766315953202