In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [9]:
sec_data = pd.read_csv('Pfolio_stocks_br.csv', index_col='Date')

In [10]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1244 entries, 6/22/15 to 6/19/20
Data columns (total 5 columns):
ITSA4    1241 non-null float64
GOAU4    1241 non-null float64
EMBR3    1241 non-null float64
PETR4    1241 non-null float64
CPFE3    1241 non-null float64
dtypes: float64(5)
memory usage: 58.3+ KB

In [4]:
pfolio_data.head()

            ITSA4     GOAU4      EMBR3      PETR4      CPFE3
Date
6/22/15  5.233504  6.552751  23.188370  12.218085  17.112970
6/23/15  5.233504  6.468259  23.043196  12.032542  16.955807
6/24/15  5.221835  6.271112  22.694790  12.264473  16.789963
6/25/15  5.134320  6.196010  22.646400  11.689284  16.274797
6/26/15  5.245173  6.318053  23.178694  12.255195  16.973259

In [11]:
sec_data.tail()

         ITSA4  GOAU4  EMBR3      PETR4      CPFE3
Date
6/15/20   9.56   6.42   8.58  20.700001  31.600000
6/16/20   9.76   6.89   9.05  21.370001  31.170000
6/17/20   9.93   6.85   8.95  21.440001  31.959999
6/18/20  10.25   7.02   8.87  21.600000  31.690001
6/19/20  10.41   7.06   8.76  21.469999  32.180000

In [12]:
sec_returns = np.log(pfolio_data / pfolio_data.shift(1))

In [13]:
sec_returns.head()

            ITSA4     GOAU4     EMBR3     PETR4     CPFE3
Date
6/22/15       NaN       NaN       NaN       NaN       NaN
6/23/15  0.000000 -0.012978 -0.006280 -0.015302 -0.009226
6/24/15 -0.002232 -0.030953 -0.015235  0.019092 -0.009829
6/25/15 -0.016901 -0.012048 -0.002134 -0.048034 -0.031164
6/26/15  0.021361  0.019506  0.023233  0.047277  0.042021

In [14]:
sec_returns['ITSA4'].mean() * 250

0.14746028354745067

In [15]:
sec_returns['ITSA4'].std() * 250 ** 0.5

0.3251006685235298

In [16]:
sec_returns['GOAU4'].mean() * 250

0.03297915342814497

In [17]:
sec_returns['GOAU4'].std() * 250 ** 0.5

0.5986733912527905

In [18]:
sec_returns['EMBR3'].mean() * 250

-0.1765135710587176

In [19]:
sec_returns['EMBR3'].std() * 250 ** 0.5

0.4439225654164657

In [20]:
sec_returns['PETR4'].mean() * 250

0.13529009164292644

In [21]:
sec_returns['PETR4'].std() * 250 ** 0.5

0.5459545250314944

In [22]:
sec_returns['CPFE3'].mean() * 250

0.14000905915502654

In [23]:
sec_returns['CPFE3'].std() * 250 ** 0.5

0.2916441206420419

# on the next lines of code we calculate Portfolio Variance with equal weights.

In [24]:
weights = np.array([0.2, 0.2, 0.2, 0.2, 0.2])

In [25]:
pfolio_var = np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))

pfolio_var

0.1063705804032191

In [26]:
pfolio_vol = (np.dot(weights.T, np.dot(sec_returns.cov() * 250, weights))) * 0.5

pfolio_vol

0.05318529020160955

In [27]:
print (str(round(pfolio_vol, 5) * 100) + ' %')

5.319 %

# on the next lines of code, we calculate the diversifiable risk:

In [57]:
weights = np.array([0.2, 0.2, 0.2, 0.2, 0.2])

In [58]:
float(ITSA4_var_a)

0.105690444674446

In [59]:
float(GOAU4_var_a)

0.35840982939411675

In [60]:
float(EMBR3_var_a)

0.19706724408593623

In [61]:
float(PETR4_var_a)

0.2980663434023648

In [62]:
float(CPFE3_var_a)

0.08505629310506994

In [63]:
ITSA4_var_a = sec_returns[['ITSA4']].var() * 250
ITSA4_var_a

ITSA4    0.10569
dtype: float64

In [64]:
GOAU4_var_a = sec_returns[['GOAU4']].var() * 250
GOAU4_var_a

GOAU4    0.35841
dtype: float64

In [65]:
EMBR3_var_a = sec_returns[['EMBR3']].var() * 250
EMBR3_var_a

EMBR3    0.197067
dtype: float64

In [66]:
PETR4_var_a = sec_returns[['PETR4']].var() * 250
PETR4_var_a

PETR4    0.298066
dtype: float64

In [67]:
CPFE3_var_a = sec_returns[['CPFE3']].var() * 250
CPFE3_var_a

CPFE3    0.085056
dtype: float64

In [69]:
dr = pfolio_var - (weights[0] ** 2 * ITSA4_var_a) - (weights[1] ** 2 * GOAU4_var_a) - (weights[2] ** 2 * EMBR3_var_a) - (weights[3] ** 2 * PETR4_var_a) - (weights[4] ** 2 * CPFE3_var_a)
dr

CPFE3   NaN
EMBR3   NaN
GOAU4   NaN
ITSA4   NaN
PETR4   NaN
dtype: float64

In [70]:
ITSA4_var_a = sec_returns['ITSA4'].var() * 250
ITSA4_var_a

0.105690444674446

In [73]:
GOAU4_var_a = sec_returns['GOAU4'].var() * 250
GOAU4_var_a

0.35840982939411675

In [74]:
EMBR3_var_a = sec_returns['EMBR3'].var() * 250
EMBR3_var_a

0.19706724408593623

In [75]:
PETR4_var_a = sec_returns['PETR4'].var() * 250
PETR4_var_a

0.2980663434023648

In [76]:
CPFE3_var_a = sec_returns['CPFE3'].var() * 250
CPFE3_var_a

0.08505629310506994

In [80]:
dr = pfolio_var - (weights[0] ** 2 * ITSA4_var_a) - (weights[1] ** 2 * GOAU4_var_a) - (weights[2] ** 2 * EMBR3_var_a) - (weights[3] ** 2 * PETR4_var_a) - (weights[4] ** 2 * CPFE3_var_a)
dr

0.06459897421674174

In [81]:
print (str(round(dr*100, 3)) + ' %')

6.46 %

# finally, the non-diversifiable risk is calculated by subtracting the diversifiable risk from the portfolio variance.

In [82]:
n_dr_1 = pfolio_var - dr
n_dr_1

0.041771606186477364

In [85]:
n_dr_2 = (weights[0] ** 2 * ITSA4_var_a) + (weights[1] ** 2 * GOAU4_var_a) + (weights[2] ** 2 * EMBR3_var_a) + (weights[3] ** 2 * PETR4_var_a) + (weights[4] ** 2 * CPFE3_var_a)
n_dr_2

0.04177160618647736

In [89]:
n_dr_1 == n_dr_2

True